#theme-button 
{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #000;
  box-shadow:
    inset -4px -4px 8px rgba(255, 255, 255, 0.2),
    inset 4px 4px 8px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
}

/*Negro: #103E3C*/
.container-button_theme
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28B6AD;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2); /* Sombra exterior */
}



#toggleButton 
{
  /* Dimensiones y forma */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px; /* Ajusta el padding para el tamaño */
  border-radius: 20px; /* Bordes redondeados */
  border: 1px solid #99c2d1; /* Borde sutil */
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.8) inset, /* Sombra interior para el brillo */
    0 -1px 0 rgba(0, 0, 0, 0.1) inset, /* Sombra interior inferior */
    0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra exterior */

  /* Fondo (Gradiente) */
  background: linear-gradient(to bottom, #d8eaf5 0%, #b2d6e7 100%);

  /* Fuente */
  font-family: Arial, sans-serif; /* Tipo de letra similar */
  font-size: 16px;
  font-weight: bold;
  color: #335969; /* Color del texto */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); /* Sombra del texto */
  
}

.search-container 
{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.search-input 
{
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 14px;
  flex: 1;
  transition: border-color 0.3s;
}

.search-input.dark 
{
  background-color: #000;
  color: #fff;
  border: 1px solid white;
}

.search-input.light 
{
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.search-button 
{
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #F2F6F8;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.search-button.dark 
{
  background-color: #2B2B2B;
  color: #fff;
}

.search-button:hover 
{
  opacity: 0.9;
}


.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #eee;
}
