.card-container 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 500px; /* Ajusta según necesidad */
    margin: auto;
}

.card 
{
    border: 1px solid black;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 5px 0px black;
}

.head-card
{
    width: 237px;
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.country
{
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.UTC
{
    margin-right: 15px;
}

.center
{
    height: 50px;
    text-align: center;
}

.time
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 35px;
    font-weight: bolder;
}
